{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<section class=" relative flex items-center justify-center h-screen mb-12 overflow-hidde ">
		<div class="w-3/4 relative z-30 p-5 text-2xl text-white bg-gray-800 opacity-50 rounded-xl">
			<h1 class=" mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl dark:text-white ">Bienvenue sur le site GauthierPhotographeDeOuf.com</h1>
			<p class=" w-full mb-8 text-lg font-normal text-white lg:text-xl  dark:text-gray-400  ">Bonjour,
		
	</br>
	je m'appelle Gauthier et je suis photographe amateur passionné du monde animal. Prenez place et laissez-vous guider dans mon univers.
</br>J'ai oublié de vous dire que j'ai une soeur trop géniale je l'aime de ouf.</p>
</div>
<video autoplay loop muted class="absolute z-10 w-auto min-w-full min-h-full ">
    <source src="../img/marcassin.mp4" type="video/mp4"/>Your browser does not support the video tag.
    </video>
    </section>


    <section class="w-full flex flex-wrap gap-8 justify-center m-3" id="flip-card">
        
        {% for categorie in cat %}
    
    <article class="w-full flex rounded shadow-lg" id="flip-card-inner">

<!-- <div class="h-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
	    <a class="" href="{{ path('app_photo',{id:categorie.id}) }}">
	        <img class="object-cover h-64 w-full rounded-t-lg" src="{{categorie.image}}" alt="" />
	    </a> -->

	<div class="w-full h-auto p-5" id="flip-card-front">
		<a href="{{ path('app_photo',{id:categorie.id}) }}">
			<h5 style="background-image: url({{asset(categorie.image)}}); background-size: 100%; background-position: 30% 20%; font-size: 120px; text-align: center; font-weight: bold; text-transform: uppercase; font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif font-weight: 800">{{ categorie.nom }}</h5>
		</a>

		<!-- <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ categorie.decsription }}</p> -->

		<!-- <a href="{{ path('app_photo',{id:categorie.id}) }}" class="bottom-0 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
					            Read more
					             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
					                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
					            </svg>
					        </a>  -->


</div>


    	<div class="w-full h-auto p-5" id="flip-card-back">
		<a href="{{ path('app_photo',{id:categorie.id}) }}">
			<h5 style="background-image: url({{asset(categorie.image)}}); background-repeat: repeat; background-position: center; -webkit-background-clip: text;-webkit-text-fill-color: transparent; font-size: 120px; text-align: center; font-weight: bold; text-transform: uppercase; font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif font-weight: 800; -webkit-font-smoothing: antialiased;">{{ categorie.nom }}</h5>
		</a>

</div>
</div>
</article>
{% endfor %}
</section>
{% endblock %}
