{% extends 'base.html.twig' %}

{% block title %}Hello CommentaireController!
{% endblock %}

{% block body %}
	<section class="">
		<article class="flex flex-col items-center border border-gray-500 m-3 p-3 rounded-lg">
			<h2 class=" mt-5 mb-5 text-3xl font-extrabold text-gray-500c dark:text-white md:text-5xl lg:text-6xl pb-5">{{image.nom}}</h2>
			<img class="w-[85%] rounded " src="{{asset(image.lien)}}" alt="product image"/>
		</article>

		<section class="flex flex-col lg:flex-row justify-center mb-5 ">
			<article class="flex flex-col items-center md:mr-3 lg:w-1/2 border border-gray-500 rounded-lg m-3 p-3">
				{% for commentaire in commentaire %}

					<div class=" mb-2 gap-5 w-full lg:w-1/2">
						<h1>{{ commentaire.user.pseudo }}</h1>
						<div class="leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700 break-words">{{ commentaire.comment|raw }}</div>
					</div>
				{% endfor %}
			</article>
			<div class="border border-gray-500 lg:w-1/2 rounded-lg m-3 p-3">

				{{ form_start(form, {"attr": {"class":" flex flex-col items-center", "id":"com"}}) }}
				<div class="mb-5 w-full">
					{{ form_widget(form.Comment, {"attr":{"class":"ckeditor-classic"}}) }}
				</div>

				{{ form_end(form) }}
			</div>
		</section>
	</section>
	<script>
		ClassicEditor.create(document.querySelector('.ckeditor-classic')).then(newEditor => {
editor = newEditor;
// editor.ui.view.editable.element.style.width = '800px';
}).catch(error => {
console.error(error);
});
document.getElementById('commentaire_save').addEventListener('click', () => {
document.getElementById('com').submit();
})
	</script>
{% endblock %}
