{% extends 'base.html.twig' %}

{% block title %}Hello CommentaireController!
{% endblock %}

{% block body %}


	<section class="w-full flex flex-col items-center border m-3 p-3">
		<h2 class=" mt-5 mb-5 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl pb-5">{{image.nom}}</h2>
		<img class="w-[85%] rounded " src="{{asset(image.lien)}}" alt="product image"/>

{% for commentaire in commentaire %}
		<article>
			<p>{{ commentaire.comment }}</p>
		</article>
		{% endfor %}

		<article class="border w-1/2 p-3 sm:rounded-lg">

			{{ form_start(form, {"attr": {"class":" flex flex-col items-center"}}) }}
			{{ form_widget(form.Comment) }}


			{{ form_end(form) }}
		</article>
	</section>
{% endblock %}
